@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 1rem;
}

section {
  scroll-snap-align: start;
}

canvas {
  display: block;
}

.top {
  position: relative;
}